            <option value="" disabled="disabled" selected="selected">Please select a neighborhood</option>
            <optgroup label="ITP">
                <% neighborhoods.ITP.forEach(function(hood) { %>
                    <option value="<%= hood %>"><%= hood %></option>
                <% }) %>
            </optgroup>
            <optgroup label="OTP">
                <% neighborhoods.OTP.forEach(function(hood) { %>
                    <option value="<%= hood %>"><%= hood %></option>
                <% }) %>
            </optgroup>
