<div class="form-group">
  <label for="title">Food</label>
  <input type="text"
         class="form-control"
         name="food"
         value="<%= fridgeItem.food %>">
</div>

<div class="form-group">
  <label for="title">Amount</label>
  <input type="text"
         class="form-control"
         name="amount"
         value="<%= fridgeItem.amount %>">
</div>

<div class="form-group">
  <label for="title">Neighborhood</label>
  <select type="text"
          class="form-control"
         name="neighborhood"
         value="<%= fridgeItem.neighborhood %>">
         <% include ../partials/neighborhoods %>
</select>
</div>

<div class="form-group">
  <label for="title">Meeting Location</label>
  <input type="text"
         class="form-control"
         name="meetingLocation"
         value="<%= fridgeItem.meetingLocation %>">
</div>

