<div class="form-group">
  <label for="title">Food</label>
  <input type="text"
         class="form-control"
         name="food"
         value="<%= fridgeItem.food %>">
</div>

<div class="form-group">
  <label for="title">Amount</label>
  <input type="text"
         class="form-control"
         name="amount"
         value="<%= fridgeItem.amount %>">
</div>

