<!DOCTYPE html>
<html lang="en">
<head>
      <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="jumbotron neighborhood">
    <main>
        <h3>Neighborhood</h3>
    </main>
  </div>

        <% fridgeItems.forEach(function(fridgeItem) { %>
        <h4>
            <%= fridgeItem.food + ' - ' + fridgeItem.amount + ' - ' + fridgeItem.neighborhood + ' - Contact: ' + fridgeItem.contactInfo %>
        </h4>
      <% }); %>
          <a href="/fridge/new" class="btn btn-primary">New</a>


  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
