<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <div class="jumbotron index">
        <h3>MyFridge</h3>
      </div>
      <% fridgeItems.forEach(function(fridgeItem) { %>
        <h4>
              <form method="POST" action="/fridge/<%= fridgeItem._id %>?_method=DELETE">
                <a href="/fridge/<%= fridgeItem._id %>">
                  <%= fridgeItem.food + ' - ' + fridgeItem.amount + ' - ' + fridgeItem.neighborhood + ' - ' + fridgeItem.meetingLocation %>
                </a>
                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
              </form>
        </h4>
      <% }); %>
    </div>
    <a href="/fridge/new" class="btn btn-primary">New</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
