<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NeighborFood</title>

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Montserrat" rel="stylesheet">

</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <div id="neighborfood">
        <h1>NeighborFood</h1>
        <p>For when you need a cup of sugar.</p>
      </div>

      <% if (!currentUser) { %>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">SIGN UP</a></p>
      <% } %>

  </main>

  <div class ="explain">
    <p>Missing an ingredient to complete the perfect recipe?  Your neighbor might have it.</p>
    <p>Got some extra leftovers? Your neighbor might want it.</p>
    <p class="green">Reduce food waste and connect with your neighborhood along the way.</p>
  </div>

   <footer>
    <% include partials/footer %>
  </footer>
</body>
    <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>
