<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NeighborFood</title>

  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>NeighborFood</h1>
  </main>

   <footer>
    <% include partials/footer %>
  </footer>
</body>
    <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>
