<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NeighborFood</title>

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Montserrat" rel="stylesheet">

</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <div id="neighborfood">
        <h1>NeighborFood</h1>
        <p class="sugar">For when you need a cup of sugar.</p>
      </div>

      <% if (!currentUser) { %>
        <b><a class="btn btn-primary btn-lg" href="/signup" role="button">SIGN UP</a></b>
        <b><a class="btn btn-primary btn-lg" href="/login" role="button">LOGIN</a></b>

      <% } %>

  </main>
      <% if (currentUser) { %>
        <div class="loggedIn">
          <div class="myfridge">
            <div class="col-sm-6">
              <div class="jumbotron myfridge">
                <p><a class="green" href='/fridge'>MyFridge</a></p>
                <p>Look in your refrigerator or pantry.</p>
                <p>Anything you won't use before it goes bad?</p>
                <p>Head back to your MyFridge tab to update your items.</p>
                <p>Your neighbors will email you to claim it!</p>
              </div>
            </div>
          </div>
          <div class="myneighborhood">
            <div class="col-sm-6">
              <div class="jumbotron neighborhood">
                <p><a class="green" href='/atlanta'>Neighborhood</a></p>
                <p>Check in to see what's new in the Neighborhood tab.</p>
                <p>Look up free food items and full prepared meals all over Atlanta.</p>
                <p>It's time to get cookin'!</p>
              </div>
            </div>
          </div>
        </div>
      <% } %>

      <% if (!currentUser) { %>
        <div class ="explain">
          <p class="loggedOut">Missing an ingredient to complete the perfect recipe?  Your neighbor might have it.</p>
          <p class="loggedOut">Have some extra leftovers? Your neighbor might want it.</p>
          <p class="greenBig">Reduce food waste and connect with your neighborhood along the way.</p>
        </div>
      <% }; %>

   <footer>
    <% include partials/footer %>
  </footer>
</body>
    <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>
