body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/fridge-of-food.jpg");
  color: white;
}

a {
  color: #00B7FF;
}

.jumbotron {
  background-color: rgba(80, 122, 15, 0.8);
  font: 100px 'Montserrat', sans-serif;
}

nav {
  font-family: 'Montserrat', sans-serif;
}
