body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/sharing.jpg");
  background-size: 100%;
  color: white;
}

a {
  color: #00B7FF;
}

.jumbotron {
  background-color: rgba(80, 122, 15, 0.8);
}

#neighborfood {
  font-family: 'Cabin Sketch', cursive;
}

#signUp {
  font: 'Montserrat', sans-serif;
}

.explain {
  background-color: rgba(174, 181, 190, 0.8);
  padding: 3em;
  font: 25px 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

p.green {
  color: rgb(80, 122, 15);
}

nav {
  font-family: 'Montserrat', sans-serif;
}
