body {
  padding: 50px;
  background-color: rgb(174, 181, 190);
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: rgb(80, 122, 15);
  text-decoration: none;
}

.jumbotron {
  font-family: 'Cabin Sketch', cursive;
}

.jumbotron.neighborhood {
  background: #000 url("/images/cucumbers.jpeg") center center;
  background-size: 100%;
}

.jumbotron.edit {
  background: #000 url("/images/carrots.jpeg") center center;
  background-size: 100%;
}

.jumbotron.index {
  background: #000 url("/images/strawberries.jpeg") center center;
  background-size: 100%;
}

.jumbotron.new {
  background: #000 url("/images/blueberries.jpeg") center center;
  background-size: 100%;
}

.jumbotron.show {
  background: #000 url("/images/tomatos.jpeg") center center;
  background-size: 100%;
}

.jumbotron.userProfile {
  background: #000 url("/images/carrots.jpeg") center center;
  background-size: 100%;
  padding-left: 2em;
}

.jumbotron.editUser {
  background: #000 url("/images/eggs.jpeg") center center;
  background-size: 100%;
  padding-left: 2em;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 25px;
  margin: 1em;
}

h4:first-letter{
  text-transform: capitalize
}

.food {
  text-transform: capitalize;
}

.foodInfo {
  text-transform: capitalize;
}

#new {
  margin-left: 1.5em;
}

nav {
  font-family: 'Montserrat', sans-serif;
}

.red-star { color: red; }

.required label:after {
  content: "*";
  color: red;
  display:inline;
  font-size: 20px;
}

.asterisk {
  color: red;
  font-size: 12px;
}
